/*  Defining root variables */
:root{
    --twitter-blue: rgba(0, 191, 255, 0.8);
    --twitter-bright-blue: rgb(0,191,255);
    --light-border: #ffffff80;
    --headings: #ffffffde;
}



/* full body styles */
body{
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}


/* Index Page Styles (Maybe Global) */
#someRight{
    padding: 30px 0 25px 60px;
    color: var(--headings);
    display: inline-block;
}

.setPosition{
    position: relative;
    top: -100px;
}


#topLogo{
    height: 50px;
}

#title{
    font-size: 3em;
    font-weight: 800;
    margin-top: 20px;
}

#subtitle{
    font-size: 2em;
    font-weight: bold;
}

#signup, #login{
    display: block;
    height: 45px;
    margin-bottom: 8px;
    width: 350px;
    border-radius: 100px;
    border: 2px solid var(--twitter-bright-blue);
    font-size: 1.1em;
    font-weight: bold;
    outline: none;
}
#signup{
    background-color: var(--twitter-bright-blue);
    color: white;
    margin-top: 20px;
}

#signup:hover{
    background-color: var(--twitter-blue);
}

#login{
    background-color: black;
    color: var(--twitter-bright-blue);
}
#login:hover{
    background-color: var(--light-border);
}
#twitterPhoto{
    width: 700px;
    margin: 40px 0 auto 50px;
}


/* Login/Signup Page Styles (native) */
#firstDiv, #secondDiv{
    height: 52px;
    width: 350px;
    border: 2px solid var(--light-border);
    margin-bottom: 10px;
    border-radius: 8px;
}
#firstDiv p, #secondDiv p{
    font-size: 0.7em;
    font-weight: 500;
    line-height: 1px;
    padding-left: 5px;
    color: black;
}
.blue{
    color: var(--twitter-bright-blue);
}

#firstDiv input, #secondDiv input{
    font-size: 1.2em;
    width: 94%;
    margin-left: 3px;
    background-color: black;
    border: none;
    outline: none;
    margin-bottom: 5px;
    color: var(--light-border);
}
#firstDiv input::-webkit-outer-spin-button,
#firstDiv input::-webkit-inner-spin-button{
    display: none;
}
#instead{
    text-decoration: none;
    color: var(--twitter-blue);
    font-size: 0.8em;
}
#instead:hover{
    color: var(--twitter-bright-blue);
}

#emailInstead:hover{
    color: var(--twitter-bright-blue);
    cursor: pointer;
}

#additional{
    font-size: 0.7em;;
}

#someRight input[type="date"]{
    width: 350px;
    height: 40px;
    font-size: 1.6em;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    outline: none;
    background-color: black;
    border: 1px solid var(--light-border);
    color: white;
}

/* #someRight input[type="date"]::-webkit-scrollbar-corner{
    color:#ffffff;
} */

@media(max-width: 1000px){
    #twitterPhoto{
        margin: 0;
    }
    #someRight{
        padding-left: 35px;
    }
    .setPosition{
        top: 0;
    }
}

@media(max-width: 768px){
    #twitterPhoto{
        width: 100%;
        margin: 0;
    }
    #someRight{
        padding-left: 25px;
        float: left;
    }
    .setPosition{
        top: 0;
    }
}

