/* full body styles */
body{
    margin: 0;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}


/* Index Page Styles (Maybe Global) */
#someRight{
    padding: 30px 0 25px 25px;
    color: #ffffffde;
    display: inline-block;
}

.setPosition{
    position: relative;
    top: -100px;
}


#topLogo{
    height: 50px;
}

#title{
    font-size: 3em;
    font-weight: 800;
    margin-top: 20px;
}

#subtitle{
    font-size: 2em;
    font-weight: bold;
}

#signup, #login{
    display: block;
    height: 45px;
    margin-bottom: 8px;
    width: 350px;
    border-radius: 100px;
    border: 2px solid rgb(0,191,255);
    font-size: 1.1em;
    font-weight: bold;
    outline: none;
}
#signup{
    background-color: rgb(0,191,255);
    color: #ffffff;
    margin-top: 20px;
}

#signup:hover{
    background-color: rgba(0, 191, 255, 0.8);
}

#login{
    background-color: #000000;
    color: rgb(0,191,255);
}
#login:hover{
    background-color: #ffffff1c;
}
#twitterPhoto{
    width: 700px;
    margin: 40px 0 auto 50px;
    /* text-align: end; */
}

/* Login Page Styles (native) */
#firstDiv, #secondDiv{
    height: 52px;
    width: 350px;
    border: 2px solid #ffffff80;
    margin-bottom: 20px;
    border-radius: 8px;
}
#firstDiv p, #secondDiv p{
    font-size: 0.7em;
    font-weight: 500;
    line-height: 1px;
    padding-left: 5px;
    color: #000000;
}
.blue{
    color:rgb(0, 162, 255);
}

#firstDiv input, #secondDiv input{
    font-size: 1.2em;
    width: 94%;
    margin-left: 3px;
    background-color: #000000;
    border: none;
    outline: none;
    margin-bottom: 5px;
    color: #ffffffde;
}

#instead{
    text-decoration: none;
    color: rgba(0, 191, 255, 0.8);
    font-size: 0.8em;
}
#instead:hover{
    color:rgb(0, 191, 255);
}

#emailInstead:hover{
    color:rgb(0, 162, 255);
}

#additional{
    font-size: 0.7em;;
}

#someRight input[type="date"]{
    width: 350px;
    height: 40px;
    font-size: 1.6em;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
@media(max-width: 1000px){
    #twitterPhoto{
        margin: 0;
    }
    .setPosition{
        top: 0;
    }
}

@media(max-width: 768px){
    #twitterPhoto{
        width: 100%;
        margin: 0;
        /* margin: 50px 20px auto auto; */
    }
    #someRight{
        padding-left: 50px;
        float: left;
    }
    .setPosition{
        top: 0;
    }
}

